@import url('./bootstrap.min.css');

:root {
  --primary-color: #6c63ff;
  --secondary-color: #121214;
  --text-primary: #929296;
  --btn-primary: #9466ff;
  --border-bottom: #9466ff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
  color: var(--text-primary) !important;
}
a {
  color: var(--text-primary) !important;
}
button:focus {
  outline: var(--border-bottom) !important;
}
