@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;700&display=swap');
:root {
  --primary: #8257e5;
  --background: #121214;
  --support: #737380;
  --black: #09090a;
  --text: #a8a8b3;
  --btn-primary: #9466ff;
  --btn-hover: #6833e4;
  --white: #fff;
  --border: #6833e4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.button {
  text-transform: lowercase;
  font-weight: 500;
  padding: 0.375rem 1.4rem;
}

.button-primary {
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);

  &:hover,
  &:active {
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
  }
}

.button-primary-outline {
  border-color: var(--btn-primary);
  color: var(--btn-primary);

  &:hover,
  &:active {
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--support);
  font-weight: 400;
}

.block {
  margin-bottom: 7.5rem;
}
