#banner {
  background-color: var(--primary);
  background-image: linear-gradient(
    326deg,
    var(--primary) 0%,
    var(--black) 74%
  );
  color: var(--white);

  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }

  h4 {
    font-size: 18px;
    text-transform: uppercase;
  }
  img[alt='developer'] {
    width: 600px;
  }
}
